
#main{
    display: flex;
    margin: auto;
    width: 800px;

}
#main>div{
    margin-left:40px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    padding-left: 50px;
    margin-bottom: 50px;

}